@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
    /*COLORS*/
    --primary-navy: #14213D;
    --accent-gold: #FFAE00;
    --ai-blue: #3B82F6;
    --cyan-glow: #22D3EE;

    --background: #FBF8F5;
    --card-bg: #FFFFFF;

    --border: #E5E5E5;

    --text-light: #8A8A8A;
    --text-dark: #111111;

    /*RADIUS*/
    --r-btn: 999px;
    --r-input: 16px;
    --r-card: 24px;
    --r-large: 32px;

    /*SHADOWS*/
    --shadow-soft: 0 4px 20px rgba(0, 0, 0, 0.05);
    --shadow-hover: 0 12px 40px rgba(0,0,0,0.10);

    /*SPACING*/
    --section-p: 80px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--text-dark);
}

@layer components {
    .display-text{
        @apply text-5xl md:text-6xl font-blank tracking-tight;
    }

    .h1-text{
        @apply text-4xl font-extrabold tracking-tight;
    }

    .h2-text{
        @apply text-3xl font-bold;
    }

    .h3-text{
        @apply text-xl font-bold;
    }

    .body-text{
        @apply text-base leading-7 text-[#8A8A8A];
    }

    .caption-text{
        @apply text-sm font-medium text-[#8A8A8A];
    }
}

